/Colecciones_ejercicio05/nbproject/private/
/Colecciones_ejercicio05/build/
/Colecciones_05/nbproject/private/
/Colecciones_05/build/
/Colecciones_ejercicio_06/nbproject/private/
/Colecciones_ejercicio_06/build/
/Colecciones_extra_01/nbproject/private/
/Colecciones_extra_01/build/
/Colecciones_extra_02/nbproject/private/
/Colecciones_extra_02/build/
/Colecciones_extra_03/nbproject/private/
/Colecciones_extra_03/build/